<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-2">
    <!--Nav-->
    <div th:replace="nav :: nav"></div>
    <div class="card mt-1">
        <div class="card-header">
            <h3>Liste des Clients</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <th>Nom et Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Commandes</th>
                </thead>
                <tbody>

                <tr th:each="cl:${clients}">
                    <td th:text="${cl.nomComplet}"></td>
                    <td th:text="${cl.telephone}"></td><td th:text="${cl.adresse}"></td>
                    <td ><a
                            th:href="@{liste-commande(id=${cl.id})}"
                            class="btn


btn-outline-success" >Mes Commandes</a></td>
                </tr>

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a th:class="${currentPage == 0 ? 'page-link disabled' : 'page-link'}"
                           th:href="@{liste-client(page=${PreviousPage})}">
                            Previous
                        </a>
                    </li>

                    <li class="page-item" th:each="p,statut:${pages}">

                        <a
                           th:class="${statut.index==currentPage? 'page-link active' : 'page-link'}"
                           th:text="${statut.index+1}"
                           th:href="@{liste-client(page=${statut.index})}"

                            >

                        </a>
                    </li>

                    <li class="page-item">

                        <a
                           th:class="${currentPage==nextPage? 'page-link desabled' : 'page-link' }"
                            th:href="@{liste-client(page=${nextPage})}"
                        >
                            Next
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- Content here -->


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>